<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Detalles del Usuario</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css"
        th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Detalles del Usuario</h1>
    <div class="mb-3">
        <label class="form-label"><strong>ID:</strong></label>
        <p th:text="${persona.id}" class="form-control-static"></p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Username:</strong></label>
        <p th:text="${persona.username}" class="form-control-static"></p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Role:</strong></label>
        <p th:text="${persona.role}" class="form-control-static"></p>
    </div>
    <a href="/personas" class="btn btn-primary">Volver</a>
</div>
</body>
</html>
