<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Ver Proyecto</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css"
        th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Detalles del Proyecto</h1>

	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>Nombre</th>
	            <th>Descripción</th>
	            <th>Fecha de Inicio</th>
	            <th>Estado</th>
	        
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="proyecto : ${proyectos}">
	            <td th:text="${proyecto.id}"></td>
	            <td th:text="${proyecto.nombre}"></td>
	            <td th:text="${proyecto.descripcion}"></td>
	            <td th:text="${proyecto.fecha_inicio}"></td>
	            <td th:text="${proyecto.estado}"></td>
	            <td>
	                <a th:href="@{/proyecto/editar/{id}(id=${proyecto.id})}" class="btn btn-warning">Editar</a>
					<a th:href="@{/proyecto/crear/}" class="btn btn-warning">Crear</a>
	                <a th:href="@{/proyecto/eliminar/{id}(id=${proyecto.id})}" class="btn btn-danger"
	                   onclick="return confirm('¿Estás seguro de que quieres eliminar este proyecto?');">Eliminar</a>
	            </td>
	        </tr>
	    </tbody>
	</table>


    <!-- Botones de navegación -->
    <a href="/proyectos" class="btn btn-secondary">Volver a la lista de proyectos</a>
</div>
</body>
</html>
