<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Editar Tarea</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css"
        th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Editar Tarea</h1>
    <form th:action="@{/tarea/editar/{id}(id=${tarea.id})}" th:object="${tarea}" method="post">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" id="titulo" th:field="*{titulo}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" th:field="*{descripcion}" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="fecha_limite" class="form-label">Fecha Límite</label>
            <input type="date" id="fechaLimite" th:field="*{fechaLimite}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select id="estado" th:field="*{estado}" class="form-control" required>
                <option value="PENDIENTE">PENDIENTE</option>
                <option value="EN_CURSO">EN_CURSO</option>
                <option value="COMPLETADA">COMPLETADA</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="id" class="form-label">ID Usuario</label>
            <input type="number" th:field="*{idUsuario}" placeholder="ID del Usuario" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="/tarea/listar" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
