<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Detalles de la Tarea</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css"
        th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Detalles de la Tarea</h1>
    <div class="mb-3">
        <label class="form-label"><strong>Título:</strong></label>
        <p th:text="${tarea.titulo}" class="form-control-static"></p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Descripción:</strong></label>
        <p th:text="${tarea.descripcion}" class="form-control-static"></p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Fecha Límite:</strong></label>
        <p th:text="${tarea.fecha_limite}" class="form-control-static"></p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Estado:</strong></label>
        <p th:text="${tarea.estado}" class="form-control-static"></p>
    </div>
    <a href="/tareas" class="btn btn-primary">Volver</a>
</div>
</body>
</html>
