<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Detalles de la Tarea</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css"
        th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Tareas</h1>
	
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>Título</th>
	            <th>Descripción</th>
	            <th>Fecha Límite</th>
	            <th>Estado</th>
	            <th>ID usuario</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="tarea : ${tareas}">
	            <td th:text="${tarea.id}"></td>
	            <td th:text="${tarea.titulo}"></td>
	            <td th:text="${tarea.descripcion}"></td>
	            <td th:text="${tarea.fecha_limite}"></td>
	            <td th:text="${tarea.estado}"></td>
	            <td th:text="${tarea.id_usuario}"></td>
	            <td>
	                <a th:href="@{/tarea/editar/{id}(id=${tarea.id})}" class="btn btn-warning">Editar</a>
	                <a th:href="@{/tarea/crear/}" class="btn btn-warning">Crear</a>
	                <a th:href="@{/tarea/eliminar/{id}(id=${tarea.id})}" class="btn btn-danger"
	                   onclick="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');">Eliminar</a>
	            </td>
	        </tr>
	    </tbody>
	</table>

    <a href="/user/home" class="btn btn-primary">Volver</a>
	<a href="/tarea/crear" class="btn btn-primary">Crear tarea</a>
</div>
</body>
</html>
