<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Lista de Personas</title>
        <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Pagina principal</h1>
    <a href="/user/crear" class="btn btn-primary mb-3">Crear Proyecto</a>
	<a href="/user/crear" class="btn btn-primary mb-3">Crear Tarea</a>
	
    <table class="table table-striped">
        <thead>
        <tr>
			
            <th>ID</th>
            <th>Nombre</th>
            <th>Role</th>
           
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.username}"></td>
            <td>
                <a th:href="@{/usuario/editar/{id}(id=${usuario.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/usuario/eliminar/{id}(id=${usuario.id})}" class="btn btn-danger"
                   onclick="return confirm('¿Estás seguro de que quieres eliminar esta persona?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
