<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="mt-5 mb-4">Lista de Tareas</h1>
    <a th:href="@{/admin/tareas/crear}" class="btn btn-success mb-3">Añadir Tarea</a>
    
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha Límite</th>
                <th>Estado</th>
                <th>Proyecto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tarea : ${tareas}">
                <td th:text="${tarea.id}"></td>
                <td th:text="${tarea.titulo}"></td>
                <td th:text="${tarea.descripcion}"></td>
                <td th:text="${tarea.fechaLimite}"></td>
                <td th:text="${tarea.estado}"></td>
                <td th:text="${tarea.proyecto.nombre}"></td>
                <td>
                    <a th:href="@{/admin/tareas/editar/{id}(id=${tarea.id})}" 
                       class="btn btn-warning">Editar</a>
                    <a th:href="@{/admin/tareas/eliminar/{id}(id=${tarea.id})}" 
                       class="btn btn-danger"
                       onclick="return confirm('¿Estás seguro de eliminar esta tarea?');">
                       Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <a href="/home" class="btn btn-primary">Volver al inicio</a>
    </div>
    

</body>
</html>
